<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mybatis.dao.BlogMapper">

    <!-- 嵌套查询 start -->
    <resultMap id="BaseResultMap" type="com.spring.model.Blog">
        <id column="bid" jdbcType="INTEGER" property="bid" />
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <association property="author" column="aid" select="com.spring.mybatis.dao.AuthorMapper.selectByPrimaryKey">

        </association>
    </resultMap>

    <select id="selectBlogAuthor" resultMap="BaseResultMap" parameterType="int">
        select * from blog
        where bid = #{bid}
    </select>
    <!-- 嵌套查询 end -->

    <!-- 嵌套结果 start -->
    <resultMap id="BlogResultMap" type="com.spring.model.Blog">
        <id column="bid" jdbcType="INTEGER" property="bid" />
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <association property="author" javaType="com.spring.model.Author">
            <id column="aid" jdbcType="INTEGER" property="aid" />
            <result column="author_name" jdbcType="VARCHAR" property="authorName"/>
        </association>
    </resultMap>

    <select id="selectBlogAuthor2" resultMap="BlogResultMap" parameterType="int">
        select b.*,a.* from blog b, author a
        where b.bid = #{bid}
        and b.aid = a.aid
    </select>
    <!-- 嵌套结果 end -->

    <!-- 嵌套查询 1：N start -->
    <resultMap id="BlogPostsResultMap" type="com.spring.model.Blog">
        <id column="bid" jdbcType="INTEGER" property="bid" />
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <collection column="bid" property="posts" select="selectByBlogId" ofType="com.spring.model.Posts">
        </collection>
    </resultMap>

    <select id="selectByBlogId" resultType="com.spring.model.Posts" parameterType="java.lang.Integer">
        select pid, post_name AS postName, bid
        from posts
        where bid = #{id}
    </select>

    <select id="selectBlogPosts" resultMap="BlogPostsResultMap" parameterType="int">
        select * from blog
        where bid = #{id}
    </select>
    <!-- 嵌套查询 1：N end -->
</mapper>